body{
    background-color: grey;
    }
    h1{
    color: lightgrey;
    }
    td.lightgrey{
    	color: lightgrey;
    }
    td.yellow{
    color:yellow;
    }
    td.orange{
    	color: orange;
    }
    td.white{
    	color: white;
    }
    td.red{
    	color: red;
    }
    .dot {
		  height: 10px;
		  width: 10px;
		  background-color: green;
		  border-radius: 50%;
		  display: inline-block;
		}